datasets/AVDN
debug_images/
preprocess/
pretrain_src/
online_observation/
src/r2r/
src/reverie/
src/xview_et_flat/
src/xview_et_tatc/
src/xview_et_online/
src/xview_non_learning/
src/xview_sali_6_waypoint_resnet_lang_only/
src/xview_sali_6_waypoint_resnet_vision_only/
*.zip
*.ipynb
src/scripts/*.sh
src/scripts/Deprecated/*
src/test.py
src/__pycache__/*
src/utils/__pycache__/*
src/models/__pycache__/*
src/xview_et/__pycache__/*
src/xview_lstm/__pycache__/*
src/*.npy